// import
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// var
$full: 100%;
$primary-size: 1rem;
$primary-dark-color: #333536;
$primary-white-color: #E2F3F6;
$gray-1: #6F7475;
$gray-2: #ACB4B5;
$gray-3: #C9D2D4;

// mixin
@mixin full-size {
    width: $full;
    height: $full;
}

// code
html {
    @include full-size;

    body {
        display: flex;
        @include full-size;
        justify-content: center;
        font-family: 'Noto Sans KR', sans-serif;
        color: $primary-dark-color;
        background: #E9F4F6;

        #app {
            display: flex;
            max-width: 1200px;
            @include full-size;

            main {
                @include full-size;
            }

            aside {
                width: 250px;
                height: $full;
                flex: none;

                .day {
                    display: flex;
                    justify-content: center;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

.mg-lr {
    margin: 0 $primary-size;
}

.pd-tb {
    padding: $primary-size 0;
}

.bs {
    box-sizing: border-box;
}