/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #333536;
  background: #E9F4F6;
}
html body #app {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
html body #app main {
  width: 100%;
  height: 100%;
}
html body #app main header .dark_mod {
  display: flex;
  width: 3.5rem;
  height: 1.75rem;
  align-items: center;
  background: #C9D2D4;
  border-radius: 1rem;
  padding: 0 0.25rem;
  pointer-events: none;
  position: relative;
}
html body #app main header .dark_mod .mod_icon {
  font-size: 1.15rem;
  padding-bottom: 2px;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  transition: all 0.25s ease;
}
html body #app main header .mod_bg {
  background: #ACB4B5;
}
html body #app main header .mod_change {
  transform: translateX(100%);
}
html body #app aside {
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: none;
}
html body #app aside .day {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
html body #app aside .analog {
  width: 10rem;
  height: 10rem;
  background: #333536;
  border-radius: 50%;
  border: 0.25rem solid #333536;
  position: relative;
}
html body #app aside .analog .hh {
  width: 3px;
  height: 25%;
  background: brown;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  border-radius: 50%;
  --rotation: 0;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 3;
}
html body #app aside .analog .mh {
  width: 2px;
  height: 37.5%;
  background: #6F7475;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  border-radius: 50%;
  --rotation: 0;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 2;
}
html body #app aside .analog .sh {
  width: 1px;
  height: 45%;
  background: #E2F3F6;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  border-radius: 50%;
  --rotation: 0;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 1;
}
html body #app aside .analog .number {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 0.5rem;
  color: #E2F3F6;
  position: absolute;
}
html body #app aside .analog::after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: #E2F3F6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
html body #app aside .clock {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
html .dark {
  background: #333536;
  color: #E2F3F6;
}

.mg-lr {
  margin: 0 1rem;
}

.pd-tb {
  padding: 1rem 0;
}

.bs {
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */