// import
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// var
$full: 100%;
$primary-size: 1rem;
$primary-dark-color: #212121;
$primary-white-color: #fafafa;
$primary-light: #8abdff;
$gray-1: #404040;
$gray-2: #c8d0e7;
$gray-3: #C9D2D4;
$gray-4: #E9F4F6;
$shadow: .3rem .3rem .6rem $gray-2, 
-.2rem -.2rem .5rem $primary-white-color;
$inner-shadow: inset .2rem .2rem .5rem $gray-2, 
inset -.2rem -.2rem .5rem $primary-white-color;

// mixin
@mixin full-size {
    width: $full;
    height: $full;
}

// code
html {
    @include full-size;

    body {
        display: flex;
        @include full-size;
        justify-content: center;
        font-family: 'Noto Sans KR', sans-serif;
        color: $primary-dark-color;
        background: #e3f2fd;
        
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;

        #app {
            display: flex;
            max-width: 1200px;
            @include full-size;

            main {
                @include full-size;

                header {

                    .dark_mod {
                        display: flex;
                        width: 3.5rem;
                        height: 1.75rem;
                        align-items: center;
                        background: #fff;
                        box-shadow: $inner-shadow;
                        border-radius: 1rem;
                        padding: 0 $primary-size / 4;
                        pointer-events: none;
                        position: relative;

                        .mod_icon {
                            font-size: 1.15rem;
                            padding-bottom: 2px;
                            pointer-events: auto;
                            cursor: pointer;
                            position: absolute;
                            transition: all .25s ease;
                        }
                    }

                    .mod_bg {
                        
                    }

                    .mod_change {
                        transform: translateX(100%);
                    }
                }
            }

            aside {
                display: flex;
                width: 250px;
                height: $full;
                flex-direction: column;
                align-items: center;
                flex: none;
                row-gap: $primary-size;

                .day {
                    display: flex;
                    justify-content: center;
                    font-size: 1.25rem;
                    box-shadow: $inner-shadow;
                    background: $primary-white-color;
                    border-radius: $primary-size;
                }

                .analog {
                    width: 10rem;
                    height: 10rem;
                    background: $primary-white-color;
                    border-radius: 50%;
                    position: relative;
                    box-shadow: $inner-shadow;

                    @mixin clock_hand {
                        position: absolute;
                        left: 50%;
                        bottom: 50%;
                        transform: translateX(-50%);
                        transform-origin: bottom;
                        border-radius: 50%;
                        --rotation: 0;
                        transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
                    }

                    .hh {
                        width: 3px;
                        height: 25%;
                        background: brown;
                        @include clock_hand;
                        z-index: 3;
                    }

                    .mh {
                        width: 2px;
                        height: 37.5%;
                        background: $gray-1;
                        @include clock_hand;
                        z-index: 2;
                    }

                    .sh {
                        width: 1px;
                        height: 45%;
                        background: $gray-2;
                        @include clock_hand;
                        z-index: 1;
                    }

                    .number {
                        display: flex;
                        @include full-size;
                        justify-content: center;
                        font-size: $primary-size / 2;
                        color: $primary-dark-color;
                        position: absolute;
                    }

                    &::after {
                        content: '';
                        width: .25rem;
                        height: .25rem;
                        border-radius: 50%;
                        background: $gray-1;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 4;
                    }
                }

                .clock {
                    display: flex;
                    justify-content: center;
                    font-size: 1rem;
                    box-shadow: $inner-shadow;
                    background: $primary-white-color;
                    border-radius: $primary-size;
                }
            }
        }
    }

    .d__1 {
        background: $primary-dark-color;
        color: $primary-white-color;
    }

    .d__2 {

    }

    .d__3 {

    }
}

.mg-lr {
    margin: 0 $primary-size;
}

.pd-tb {
    padding: ($primary-size / 2) 0;
}

.pd-lr {
    padding-left: $primary-size;
    padding-right: $primary-size;
}

.bs {
    box-sizing: border-box;
}

.bd_r {
    border-radius: $primary-size * 2;
}